<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html itemscope itemtype="http://schema.org/Article" class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width"> 
  <meta property="og:title" content="Portfolio">
  <meta property="og:description" content="">
  <meta itemprop="name" content="Portfolio">
  <meta itemprop="description" content="">
  
  {% block headstyle %}
  {% endblock %} 
  
  {% block headscript %}
  {% endblock %}

  {% block head %}
  {% endblock %}
</head>
<body>
  <!--[if lte IE 8]>
  <div id="old-browser">
    <h1 class="logo sm"></h1>
    <p class=chromeframe>I'm sorry, your browser is <em>too old!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
  </div>
  <![endif]-->
<div class="content">
{% block content %}
{% endblock %}
</div>
<!--
<script>
    var _gaq=[['_setAccount','UA-xxxxxxxx-x'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
-->
<footer>
{% block footer %}
{% endblock %}
</footer>
</body>
</html>
