<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>
            Portfolio
        </title>
        <link rel="stylesheet" href="{{STATIC_URL}}css/styles.css" type="text/css">
    </head>
    <body>

        {% load require %} {% block headscript %}
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript">

        window.requirejs = {
            {% if include_base_url %}baseUrl: '{{STATIC_URL}}',{% endif %}
                config: {
                    'app/main': {
                    staticUrl: '{{STATIC_URL}}',
                    mediaUrl: '{{MEDIA_URL}}'
                }
            }
        };
        window.static_url = '{{STATIC_URL}}';
        window.media_url = '{{MEDIA_URL}}';

        $('body').on('click', 'a[rel=internal]', function(e) {
            e.preventDefault();
            var anchor = $(this).attr('href').split('#')[1];
            if(!anchor) {
                $('html,body').animate({
                    scrollTop: 0
                });
                return;
            }
            var section = $('#' + anchor);
            $('html,body').animate({
                scrollTop: section.position().top - 50
            });
        });

        </script>
        <script src="{{STATIC_URL}}js/libs/bootstrap.js"></script>
        {% endblock %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-main"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="#" rel="internal">Joshua McDonald</a>
                </div>
                <div class="collapse navbar-collapse" id="nav-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#work" rel="internal">Work</a>
                        </li>
                        <li>
                            <a href="#about" rel="internal">About</a>
                        </li>
                        <li>
                            <a href="#contact" rel="internal">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <section class="section-hero row" id="hero">
                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
                    <h1>
                        I'm Joshua McDonald. <small>Full-Stack Ninja</small>
                    </h1>
                </div>
                <p class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                    Sr. Front- and Back-End Developer. Polyglot and lover of all languages. Honorable mentions go to <em>Python/Django</em>, <em>Node.js/Express</em>, <em>LAMP</em>, <em>Backbone/Marionette</em> and <em>Sass/Less</em>. I can carry your project from your design to deployment, and every step in between.
                </p>
                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-7">
                    <a href="#contact" rel="internal" class="btn btn-warning">Interested? Let's Talk!</a>
                </div>
            </section>
            <section class="section-work row" id="work">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1>Selected Work <small>Some of my favorites</small></h1>
                </div>
                {% for project in projects %}
                    <article class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1">
                            <img src="{{ project.thumb.url }}" class="img-responsive" />
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6">
                            <h2>{{ project.title }} <small><a href="{{ project.link }}" target="blank">{{ project.link }}</a></small></h2>
                            {{ project.description|linebreaks }}
                            {% if project.link_case_study %}
                                <p>View Case Study: <a href="{{ project.link_case_study }}" target="blank">{{ project.link_case_study }}</a></p>
                            {% endif %}
                        </div>
                    </article>
                    <div class="col-xs-12 divider">
                        <span class="glyphicon glyphicon-th center-block"></span>
                    </div>
                {% endfor %}

            </section>
            <section class="section-about row" id="about">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-ofset-1">
                    <h1>About Me</h1>
                    <p>I've been a professional web developer for a decade, and along the way I've kept up with modern practices and technologies.  I worked at <a href="http://www.thisisgrow.com">GROW Interactive</a> for 6 years, then started my family and moved to Florida.  From there, I found myself packing up and heading to Los Angeles to work for <a href="http://madeinhaus.com">HAUS</a> where my skillset was greatly improved. I moved back to Florida and continued to work remote for HAUS until early 2014.</p>
                    <p>After HAUS, I'm more focused on working directly with clients.  As a freelance/contract developer, I get to work directly with the people who are most passionate about their product and help their vision come to life.
                    </p>
                    <p>Have any questions for me?  Want to work with me?  Need a little tech help for your own projects?  <a href="#contact" rel="internal">Contact me!</a>
                    </p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                    <img src="{{STATIC_URL}}img/about/photo.png" class="img-responsive" />
                </div>
            </section>
            <section class="section-contact row" id="contact">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1>
                        <span class=" glyphicon glyphicon-envelope"></span> Lets Talk! <small>Seriously, hit me up!</small>
                    </h1>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <address>
                        <strong>Email:</strong> <a href="mailto:me@joshuamcdonald.info">me@joshuamcdonald.info</a><br>
                        <br>
                        <strong>Phone:</strong> 918.926.0457
                    </address>
                </div>
                <div class="col-sm-7 contact-form">
                    <form id="contact" method="post" class="form" role="form">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 form-group">
                                <input class="form-control" id="name" name="name" placeholder="Name" type="text" required="">
                            </div>
                            <div class="col-xs-6 col-md-6 form-group">
                                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required="">
                            </div>
                        </div>
                        <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5">
</textarea><br>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 form-group">
                                <button class="btn btn-success pull-right" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>