section.section-hero {

	background-image: url(../img/hero/background.jpg);
	background-position: center center;
	background-size: cover;

	h1 {

		padding-top: 1em;
		color: $brand-primary;
		text-shadow: 0px 0px .5em #000;
		font-weight: bold;

		small {
			display: block;
			color: $brand-warning;
			padding-top: 0.5em;

			@media (min-width: $screen-sm-min) {
				padding-top: 1em;
				font-size: 0.75em;
			}
		}

		@media (min-width: $screen-sm-min) {
			padding-top: 2em;
			font-size: 3.8em;
		}

	}

	p {

		padding-top: 2em;
		color: $gray-lighter;
		font-size: 1.4em;
		text-shadow: 0px 0px .5em #000;

		em {
			color: $brand-warning;
			font-weight: bold;
		}

		@media (min-width: $screen-sm-min) {
			padding-top: 6em;
		}		
	}

	a.btn {
		margin-top: 2em;
		font-size: 2em;
		margin-bottom: 4em;
	}

}