section.section-work {
	padding: 1.5em 0;

	h1 {
		margin-bottom: 1em;
	}

	article {
		margin-bottom: 2em;

		h2 {
			small {
				display: block;
				font-size: 0.5em;
				margin: 1em 0;
			}
		}

		img {
			margin-top: 2em;
			border-radius: 1em;
		}
	}
	.divider {
		padding: 1em 0 4em;

		span {
			width: 10px;
		}
	}
}